/* CSS for DoneXBlock */

.done_block {
    width:100%; 
    height:35px;
    display:flex;
    flex-direction: row;
}

.done_wipe {
    -webkit-transition: width 0.2s;
    transition: width 0.2s;
    text-align:center;
}

.done_windshield_animated {
    -webkit-transition: background-color 0.4s, color 0.4s, background-image 0.4s;
    transition: background-color 0.4s, color 0.4s, background-image 0.4s;
}

.done_windshield {
    cursor: pointer;
    width:200px; 
    height:100%;
    padding: 5px 10px;
    border-radius: 3px;
    font-family: 'Open Sans', Verdana, Geneva, sans-serif, sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: normal;
}

.done_windshield_on { /* "Mark as complete"*/
    -webkit-font-smoothing: antialiased;
    background-color: #666;
    background-image: linear-gradient(rgb(125, 125, 125), rgb(75, 75, 75));
    border-radius: 3px;
    border: 1px solid rgb(50, 50, 50);
    color: #fff;
}

.done_windshield_off { /* Undo */
    -webkit-font-smoothing: antialiased;
    background-color: #696;
    background-image: linear-gradient(rgb(100, 175, 125), rgb(50, 125, 75));
    border-radius: 3px;
    border: 1px solid rgb(0, 75, 25);
    color: #fff;
}

.done_windshield_on .done_wipe_on {
    position: relative;
    left: 10px;
    display:inline-block;
    width:80%;
    overflow:hidden;
    text-overflow: clip;
    white-space:nowrap;
}

.done_windshield_off .done_wipe_on {
    display:inline-block;
    width:0;
    overflow:hidden;
    text-overflow: clip;
    white-space:nowrap;
}

.done_wiper {
    position: relative;
    bottom: 3px;
    left: 5px;
    display: inline-block;
    width: 10%;
    height: 25px;
    font-size: 20px;
    text-align: center;
    font-style: normal !important;
}

.done_windshield_off .done_wipe_off {
    position: relative;
    left: 5px;
    display:inline-block;
    width:80%;
    overflow:hidden;
    text-overflow: clip;
    white-space:nowrap;
}

.done_windshield_on .done_wipe_off {
    display:inline-block;
    width:0;
    overflow:hidden;
    text-overflow: clip;
    white-space: nowrap;
}